*{
	font-family:"Verdana", sans-serif;
	font-size: 20px;
}

h2	{
	text-transform: uppercase;
}

h1 {
	font-size: 35px;
}

#languages {
	background-color: lightgreen;
}

ol[id="tools"] li {
  border-width: 2px;
  border-style: solid;
  border-color: royalblue;
 }

h4 + img {
	height: 150px;
	width: 150px;
	border-radius: 150px;
}

section > ul {
	list-style-type: none;
	letter-spacing: 10px;
}